HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ project files
.idea
*.iml
out
gen

# eclipse ignore
.settings
.project
.classpath
.tomcatplugin
logPath_IS_UNDEFINED
*.gz
disconf


# maven ignore
target
build

# other ignore
*.log
*.tmp
Thumbs.db
*.DS_Store
*.lck

mvnw
mvnw.cmd
.mvn